<table>
    <tr>
        <th>
            Name <br>

        </th>
        <th>
            Genre <br>

        </th>
        <th>
            Console <br>

        </th>
        <th>
            Developer <br>

        </th>
        <th>
            Manufacturer <br>
        </th>
    </tr>

    {{#each query}}
    <tr>
        <td>
            {{video_game_name}}
        </td>
        <td>
            {{genrename}}
        </td>
        <td>
            {{console_name}}
        </td>
        <td>
            {{developer_name}}
        </td>
        <td>
            {{manufacturer}}
        </td>
    </tr>
    {{/each}}

</table>

<br>
<br>
<br>
<a href="/update/{{video_game_name}}">Update</a>